body {
    margin: 0;
    font-family: sans-serif;
    background-color: #333;
}
a {
    text-decoration: none;
}
.navbar .nav {
    background-color: #111;
}
.navbar .top {
    background-color: #DDD;
}
.navbar .nav a {
    color: white;
}
.navbar .top a {
    color: #444;
}
.navbar {
    display: grid;
    /*grid-template-columns:repeat(12, 1fr);
    grid-template-rows:1fr 2fr ;*/
    grid-template:1fr 2fr auto/repeat(12, 1fr) ;
}
.navbar .top {
    grid-column:2/12;
    grid-row:1;
    padding: 1%;
    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.navbar .nav {
    grid-column: 2/12;
    grid-row: 2;
    padding: 1%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.navbar .nav .brand {

    height: 100%;
    grid-column: 1/5;
    align-self: stretch;
}
.navbar .nav .brand img {
    height: 75%;
    position: relative;
    top:13%;
}
.navbar .top .hours {
    grid-column: 2/10;
    text-align: right;
}
.navbar .top .lang {
    grid-column: 11/12;  
}
.navbar .nav a:not(:first-child),
.navbar .top a:not(:first-child) {
    text-align: right;
}
.navbar .top,
.navbar .nav {
    align-items:center;
}
.navbar .dropdown {
    display: none;
    grid-row: 3;
    grid-column: 2/12;
}
.navbar .dropdown:target {
    display: block;
}
.navbar .options {
    display: none;
    background-color: #555;
    padding: 10%;

    grid-row: 3;
    grid-column: 11/12;
}
.navbar .options a{
    display: inline-block;
    color: white;
    padding: 10%;  
}
.navbar .options:target {
    display: block;
}